html{
    font-size: 62.5%;
    font-family: Poppins;
    padding: 0;
    margin: 0;
}

body{
    background-color: #181818 ;
    height: 100vh ;
    color: #fff;
}

p{
    margin: 0;
}
section{
    padding: 14em 4em;
    .content{
        display: flex;
        flex-direction: column;

        button{
            margin-top: 1em;
            padding: .5em;
            background: #7000FF;
            border: none;
            color: white;
            font-size: 2em;
            width: 100%;
            border-radius: .5em;
            font-weight: bold;
        }

        .note{
            width: 100%;
            text-align: center;
            margin-top: 1em;
            font-size: 1.2rem;
            color: #878787;
            letter-spacing: 0.05rem;
        }
        .main{
            display: flex;
            flex-direction: column;
    
           
            .card-1{
                background-color: #7000FF;
                border-radius: 1em;
                display: flex;
                flex-direction: column;
                padding: 5em;
                
                p{
                    font-weight: bold;
                }
                .vs-num{
                    font-size: 5.5rem;
                }
    
                .vs-text{
                    font-size: 1.8rem;
                    text-transform: uppercase;
                }
            }
    
            .card-2{
                margin-top: 3em;
                border: 2px solid #2E2E2E;
                border-radius: 1em;
                display: flex;
                flex-direction: column ;
                padding: 6em 5em;
            }
            .mb{
                margin-bottom: 3em;
            }
            .info{
                display: flex;
                
                .icon{
                    width: 5em;
                    margin-right: .5em;
                }
                div{
                    display: flex;
                    flex-direction: column;
    
                    .c2-num{
                        font-weight: bold;
                        font-size: 3.2rem;
                    }
    
                    .c2-text{
                        font-weight: 300;
                        font-size: 1.8rem ;
                        line-height: .5em;
                    }
                }
            }
        }
    }
    
}

@media (min-width:930px){
    section{
        padding: 8em;
        .content{
            button{padding: 1em;
            margin-top: 2em;}
            .note{
                margin-top: 2em;
                font-size: 1.4rem;
            }
            .main{
                flex-direction: row;

                gap: 3em;
                .card-1{
                    padding: 5em 4em;
                    flex-grow: 1;

                    
                }
                .card-2{
                    .mb{
                        margin-bottom: 0;
                    }
                    gap: 6em;
                    margin-top: 0;
                    padding: 4em 2em;
                    flex-grow: 2;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        
    }
}

@media (min-width:1340px){
    section{padding: 14em;
        
        .content{
            flex-direction: row;
            justify-content: space-evenly;
            gap: 2em;

            button{
                margin-top: 0;

            }

            .note{
                text-align: left;
            }

            

            .main{
                flex-grow: 1;
            }
        }
    }
}
